/BinarySources/Assets.xcassets
/.build
/core

/PhosphorBinary.xcodeproj

.env
.cer
/vendor

Matchfile
Appfile
fastlane/README.md
fastlane/report.xml
fastlane/export


.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc